@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

*{
    transition: all 2s;
}

body{
    background: green;
    margin: 0;
font-family: sriracha;
}

p {
background: magenta;
height: 50px;
width: 50px;
text-align: center;
padding: 10px;
box-shadow: 5px 10px black;
}

p:hover{
box-shadow: inset 0 0  10px black;
color: white;
padding: 20px
}

.row{
background: white;
display: flex;
justify-content: space-around;
margin: 25px;
box-shadow: 5px 10px black;

}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#henry{
    background: url('https://cdn1.vectorstock.com/i/1000x1000/96/85/scallop-seashell-vector-1439685.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}
nav {
display: flex;
justify-content: space-around;
background: sandybrown;
padding: 20px;
position: fixed;
width: 100%;
top: 0;
}
